body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background-color: #e7dfe2;
}

.projects-container{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.project{
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
    background-color: #f2ded7;
}

.project-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-proj{
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #eecf8e;
    border-radius: 8px;
    margin-top: 8px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.close{
    align-self: end;
    cursor:pointer;
}

.task-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
}



label{
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

label > span{
    align-self: center;
}

.task-header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.more{
    align-items: center;
    gap: 8px;
}
